= form_tag items_distribution_path, method: 'get', id: "filter-form" do
  .row.g-2{ style: "row-gap: 0rem;" }
    -# .col-md-3.col-12
    -#   .form-group
    -#     %label MR Number
    -#     = text_field_tag :mr_number, params[:mr_number], class: "form-control form-control-sm"
    .col-md-2.col-12
      .form-group
        %label Item Category
        = select_tag :items_category_id,
          options_for_select(@filter_categories.map { |c| [c.name.to_s.titleize, c.id] }, params[:items_category_id]),
          class: "form-control select-select2 form-control-sm",
          prompt: "-- SELECT --"
    .col-md-2.col-12
      .form-group
        %label Sub-Category
        = select_tag :sub_category_id,
          options_for_select(@filter_sub_categories.map { |s| [s.name.to_s.titleize, s.id] }, params[:sub_category_id]),
          class: "form-control select-select2 form-control-sm",
          prompt: "-- SELECT --"
    .col-md-3.col-12
      .form-group
        %label Item Name
        = select_tag :item_id,
          options_for_select(@filter_items.map { |item| [item.name.to_s.titleize, item.id] }, params[:item_id]),
          class: "form-control select-select2 form-control-sm",
          prompt: "-- SELECT --"
    .col-md-2.col-12
      .form-group
        %label Branch
        = select_tag :branch_id,
          options_for_select(@branches.values.sort_by { |b| b.name.to_s.downcase }.map { |b| [b.name.to_s.titleize, b.id] }, params[:branch_id]),
          class: "form-control select-select2 form-control-sm",
          prompt: "-- SELECT --"
    .col-md-2.col-12
      .form-group
        %label Distributed By
        = select_tag :distributed_by,
          options_for_select(@filter_distributors.map { |u| ["#{u.first_name} #{u.last_name}".strip.titleize, u.id] }, params[:distributed_by]),
          class: "form-control select-select2 form-control-sm",
          prompt: "-- SELECT --"
    .col-auto
      .form-group
        %label Actions
        .form-group
          .btn-group
            = button_tag type: 'submit', class: 'btn btn-info btn-sm btn-block', id: "search-btn" do
              .bi.bi-search