.card
  .card-header.bg-dark.text-white
    %h4.mb-0 ITEM DISTRIBUTION LIST

  .card-body
    = render 'index_filter'
    .table-responsive
      - if @item_distributions.any?
        %table.table.table-bordered.table-hover
          %thead
            %tr
              %th Distribute Name
              %th Item Name
              %th Serial Number
              %th Date Purchased
              %th MR Number
              %th Inventory Number
              %th Branch
              -# %th Check Voucher
              %th Received By
              %th Distributed By
              %th Distributed At
              %th.text-center Status
              %th.text-center Actions
          %tbody
            - @item_distributions.each do |dist|
              %tr
                %td= dist.distribute_name.presence || "-"
                %td= dist.item_id && Item.find_by(id: dist.item_id)&.name || "N/A"
                - item = Item.find_by(id: dist.item_id)
                %td= item&.serial_number.presence || "-"
                %td= item&.date_purchased&.strftime("%Y-%m-%d") || "-"
                %td= dist.mr_number
                %td= dist.inventory_number
                %td= @branches[dist.branch_id]&.name&.to_s&.titleize || "-"
                -# %td= dist.check_voucher                
                - receive_by_user = @users[dist.receive_by]
                %td= receive_by_user ? "#{receive_by_user.first_name} #{receive_by_user.last_name}".to_s.titleize : "-"
                - distributed_by_user = @users[dist.distributed_by]
                %td= distributed_by_user ? "#{distributed_by_user.first_name} #{distributed_by_user.last_name}".to_s.titleize : "-"
                %td= dist.distributed_at&.strftime("%Y-%m-%d") || "-"
                %td.text-center
                  - if dist.status.to_s.downcase == "approved"
                    %span.badge.bg-success Approved
                  - elsif dist.status.to_s.downcase == "pending" || dist.status.blank?
                    %span.badge.bg-warning Pending
                  - else
                    %span.badge.bg-secondary= dist.status.titleize
                %td.text-center
                  .d-flex.justify-content-center
                    - unless dist.status.to_s.downcase == "void"
                      = link_to item_distribution_path(dist), class: "btn btn-info btn-sm p-1 d-flex align-items-center justify-content-center", title: "View", style: "width:40px; height:32px;" do
                        %i.bi.bi-eye
                      -# = button_to approve_item_distribution_path(dist), method: :post, class: "btn btn-success btn-sm flex-fill", data: { confirm: "Are you sure you want to approve this distribution?" } do
                      -#   %i.bi.bi-check
                      -# = button_to void_item_distribution_path(dist), method: :post, class: "btn btn-danger btn-sm flex-fill", data: { confirm: "Are you sure you want to void this distribution?" } do
                      -#   %i.bi.bi-x
                

        = paginate @item_distributions
      - else
        .alert.alert-info.text-center
          %i.bi.bi-info-circle
          No item distributions found.