.card
  .card-header.bg-primary.text-white
    %h4.mb-0 Item Distribution List

  .card-body
    = render 'index_filter'
    .table-responsive
      - if @item_distributions.any?
        %table.table.table-bordered.table-striped.table-hover
          %thead.table-primary
            %tr
              %th MR Number
              %th Inventory Number
              %th Item Name
              %th Branch
              %th Distributed By
              %th Received By
              %th Distributed At
          %tbody
            - @item_distributions.each do |dist|
              %tr
                %td= dist.mr_number
                %td= dist.inventory_number
                %td= dist.item_id && Item.find_by(id: dist.item_id)&.name || "N/A"
                %td= @branches[dist.branch_id]&.name&.to_s&.titleize || "-"
                - distributed_by_user = @users[dist.distributed_by]
                %td= distributed_by_user ? "#{distributed_by_user.first_name} #{distributed_by_user.last_name}".to_s.titleize : "-"
                - receive_by_user = @users[dist.receive_by]
                %td= receive_by_user ? "#{receive_by_user.first_name} #{receive_by_user.last_name}".to_s.titleize : "-"
                %td= dist.distributed_at&.strftime("%Y-%m-%d %H:%M") || "-"
        = paginate @item_distributions
      - else
        .alert.alert-warning.text-center
          No item distributions found.