:css
  @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");

%table#data-table.display.table.table-bordered.table-hover.table-sm
  %thead
    %tr
      %th
      %th Name
      %th Description
      %th Unit
      %th.text-center Status
      %th.text-center{ style: 'width:10%' } Actions
  %tbody
    - @items_list.each do |a|
      %tr
        %td{ style: "text-align: center;"}
          = link_to administration_item_path(a), title: "View Item" do
            %i.fa-solid.fa-magnifying-glass.fa-lg
        %td{ style: "text-transform: uppercase;" }= a.name
        %td{ style: "text-transform: uppercase; word-wrap: break-word; white-space: normal; max-width: 300px;" }= a.description
        %td{ style: "text-transform: uppercase;" }= a.unit
        %td.text-center
          - case a.status.to_s.downcase
          - when "active"
            %span.badge.bg-success Active
          - when "pending"
            %span.badge.bg-warning Pending
          - when "processing"
            %span.badge.bg-info Processing
          - else
            %span.badge.bg-secondary= a.status.presence || "N/A"
        %td.text-center
          %button.btn.btn-info.btn-sm.update-button{
            data: {
              id:                a.id,
              name:              a.name,
              description:       a.description,
              unit:              a.unit,
              status:            a.status,
              items_category_id: a.items_category_id,
              is_parent:         a.is_parent,
              parent_id:         a.parent_id
            },
            title: "Update Item",
            type: "button"
          }
            Update

          %button.btn.btn-sm.btn-danger.delete-button{
            data: { id: a.id },
            title: "Delete Item",
            type: "button"
          }
            %i.fa.fa-times
            Delete

