#modal-nav-admin.modal.fade
  .modal-dialog.modal-xl
    .modal-content
      .modal-header
        %h3.modal-title{ style: "font-size: 1.5rem;" }
          Administration
      .modal-body
        .row
          .col
            = link_to administration_users_path, class: "btn-nav-square-md", style: "font-size: 1rem;" do
              Users
        .mt-4
        .row
          .col
            = link_to administration_areas_path, class: "btn-nav-square-md", style: "font-size: 1rem;" do
              Areas
          .col
            = link_to administration_clusters_path, class: "btn-nav-square-md", style: "font-size: 1rem;" do
              Clusters
          .col
            = link_to administration_branches_path, class: "btn-nav-square-md", style: "font-size: 1rem;" do
              Branches
        .mt-4        
        .row         
          .col
            = link_to "/administration/computer_system", class: "btn-nav-square-md", style: "font-size: 1rem;" do
              Computer System
          
          .col
            = link_to "/administration/items", class: "btn-nav-square-md", style: "font-size: 1rem;" do
              Items
          .col
            = link_to "/administration/items_category", class: "btn-nav-square-md", style: "font-size: 1rem;" do
              Item Categories
          .col
            = link_to "/administration/suppliers", class: "btn-nav-square-md", style: "font-size: 1rem;" do
              Suppliers
          .col
            = link_to "/administration/brands", class: "btn-nav-square-md", style: "font-size: 1rem;" do
              Brands
          .col
            = link_to "/administration/sub_categories", class: "btn-nav-square-md", style: "font-size: 1rem;" do
              Sub Categories
