%table.table.table-sm.table-hover.table-bordered
  %thead
    %tr
      %th.text-center Concern Name
      %th.text-center Computer System
      %th.text-center Concern Leader
      %th.text-center Created Date
      %th.text-center Status
      %th.text-center Actions
  %tbody
    - if @records.present?
      - @records.each do |a|
        %tr
          %td.text-center= a.name
          %td.text-center= a.computer_system&.name || "N/A"
          %td.text-center= a.user_id || "Unassigned"
          %td.text-center= a.created_at.strftime("%b %d, %Y")
          %td.text-center 
            - case a.status
            - when "open"
              .badge.bg-danger Pending
            - when "pending"
              .badge.bg-success Approved
            - when "processing"
              .badge.bg-warning Processing
            - else
              .badge.bg-secondary Unknown
          %td.text-center
            = link_to concern_ticket_path(a), class: "btn btn-primary btn-sm" do
              %i.bi.bi-eye
            -# %button.btn.btn-info.btn-sm.update-button{
            -#   data: {
            -#     id: a.id,
            -#     name: a.name,
            -#     description: a.description,
            -#     status: a.status
            -#   }
            -# }
            -#   %i.bi.bi-pencil  Update
            -# %button.btn.btn-danger.btn-sm.delete-button{
            -#   data: { id: a.id }
            -# }
            -#   %i.bi.bi-trash  Delete
    - else
      %tr
        %td{ colspan: 6, class: "text-center" } No records found
