%table.table.table-sm.table-hover.table-bordered
  %thead
    %tr
      %th.text-center Concern Name
      %th.text-center Computer System
      %th.text-center Concern Leader
      %th.text-center Created Date
      %th.text-center Status
      %th.text-center Actions
  %tbody
    - if @records.present?
      - @records.each do |a|
        - user_concern_ticket = ConcernTicketUser.find_by(user_id: current_user.id, concern_ticket_id: a.id)
        %tr
          %td.text-center
            = a.name
            -# - if a.is_private
            -#   %i.bi.bi-shield-lock{ title: "Private", data: { bs_toggle: "tooltip" } }
          %td.text-center= a.computer_system&.name || "N/A"
          %td.text-center= a.user ? "#{a.user.first_name.titleize} #{a.user.last_name.titleize}" : "Unassigned"
          %td.text-center= a.created_at.strftime("%b %d, %Y")
          %td.text-center 
            - case a.status
            - when "active"
              .badge.bg-success Active
            - when "pending"
              .badge.bg-primary Processing
            - when "error"
              .badge.bg-danger Error
            - else
              .badge.bg-secondary Pending
          %td.text-center
            - if current_user.is_mis? || (user_concern_ticket && user_concern_ticket.status != "inactive" && user_concern_ticket.task != "unassigned")
              = link_to concern_ticket_path(a), class: "btn btn-primary btn-md ms-2", title: "View Ticket", data: { bs_toggle: "tooltip" } do
                %i.bi.bi-eye
            
            - if current_user.is_mis?
              = link_to edit_concern_ticket_path(a), class: "btn btn-warning btn-md ms-2", title: "Edit Concern Ticket", data: { bs_toggle: "tooltip" } do
                %i.bi.bi-pencil

            - if current_user.is_mis? || user_concern_ticket.nil?
              %button.btn.btn-success.btn-md.ms-2{ type: "button", title: "Join", data: { bs_toggle: "modal", bs_target: "#modal-join-team", concern_ticket_id: a.id } }
                %i.bi.bi-box-arrow-in-right

            - unless current_user.is_mis? || user_concern_ticket.nil? || (user_concern_ticket && user_concern_ticket.status != "inactive" && user_concern_ticket.task != "unassigned")
              %div{ style: "min-height: 38px; display: flex; align-items: center; justify-content: center;" }
                %span.text-muted Pending Join Request     
    - else
      %tr
        %td{ colspan: 6, class: "text-center" } No records found

.pagination-container.mt-3.d-flex.justify-content-center
  = paginate @records

= render "concern_tickets/modals/join_team"