%table.table.table-sm.table-hover.table-bordered
  %thead
    %tr
      %th.text-center Concern Name
      %th.text-center Computer System
      %th.text-center Concern Leader
      %th.text-center Created Date
      %th.text-center Status
      %th.text-center Actions
  %tbody
    - if @records.present?
      - @records.each do |a|
        %tr
          %td.text-center= a.name
          %td.text-center= a.computer_system&.name || "N/A"
          %td.text-center= a.user ? "#{a.user.first_name.titleize} #{a.user.last_name.titleize}" : "Unassigned"
          %td.text-center= a.created_at.strftime("%b %d, %Y")
          %td.text-center 
            - case a.status
            - when "active"
              .badge.bg-success Active
            - when "pending"
              .badge.bg-primary Processing
            - when "error"
              .badge.bg-danger Error
            - else
              .badge.bg-secondary Pending
          %td.text-center
            = link_to concern_ticket_path(a), class: "btn btn-primary btn-md", title: "View Ticket", data: { bs_toggle: "tooltip" } do
              %i.bi.bi-eye
            
            - if current_user.is_mis?
              = link_to edit_concern_ticket_path(a), class: "btn btn-warning btn-md ms-2", title: "Edit Concern Ticket", data: { bs_toggle: "tooltip" } do
                %i.bi.bi-pencil

              %button.btn.btn-success.btn-md.ms-2{ type: "button", title: "Join", data: { bs_toggle: "modal", bs_target: "#modal-join-team", concern_ticket_id: a.id } }
                %i.bi.bi-person-plus  
    - else
      %tr
        %td{ colspan: 6, class: "text-center" } No records found

.pagination-container.mt-3.d-flex.justify-content-center
  = paginate @records

= render "concern_tickets/modals/join_team"

:javascript
  document.addEventListener("DOMContentLoaded", () => {
    const joinButtons = document.querySelectorAll('button[data-bs-target="#modal-join-team"]');

    joinButtons.forEach((button) => {
      button.addEventListener("click", () => {
        const concernTicketId = button.dataset.concernTicketId;
        const modalConcernTicketIdField = document.getElementById("modal_concern_ticket_id");
        modalConcernTicketIdField.value = concernTicketId;
      });
    });
  });

  