= form_tag "", method: 'GET' do
  .col 
  .row
    .col-md-2
      .form-group
        %label
          Subject Concern
        = select_tag :center_id, options_from_collection_for_select(Center.where(branch_id: @branches.pluck(:id)), :id, :name, @center), class: "form-control select-select2", id: "center-select", prompt: "-- SELECT --"
    .col-md-2
      .form-group
        %label
          Assigned Person
        = select_tag :center_id, options_from_collection_for_select(Center.where(branch_id: @branches.pluck(:id)), :id, :name, @center), class: "form-control select-select2", id: "center-select", prompt: "-- SELECT --"
    .col-md-2
      .form-group
        %label
          Branch
        = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, @branch.try(:id)), class: "form-control select-select2", id: "branch-select", prompt: "-- SELECT --"
    .col-md-2
      .form-group
        %label
          Requested Date
        = text_field_tag :start_date, params[:start_date], class: 'form-control', type: :date
    .col-md-2
      .form-group
        %label
          Ticket Status
        = select_tag :center_id, options_from_collection_for_select(Center.where(branch_id: @branches.pluck(:id)), :id, :name, @center), class: "form-control select-select2", id: "center-select", prompt: "-- SELECT --"
    -# .col-md-2
    -#   .form-group
    -#     %label
    -#       Status
    -#     = select_tag :status, options_for_select(MembershipPaymentCollection::STATUSES, @status), class: "form-control select-select2", id: "status-select", prompt: "-- SELECT --"
    .col-md-2
      .form-group
        %label
          Actions
        .form-group
          .btn-group
            = button_tag type: 'submit', class: 'btn btn-info btn-block' do
              .bi.bi-search
