= form_tag "", method: 'GET', id: "filter-form" do
  .row
    .col-md-2.col-12
      .form-group
        %label
          Branch
        = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, params[:branch_id]), class: "form-control select-select2", id: "branch-select", prompt: "-- SELECT --"
    
    .col-md-2.col-12
      .form-group
        %label
          Requested Date
        = text_field_tag :start_date, params[:start_date], class: 'form-control', type: :date, id: "start-date"

    .col-md-2.col-12
      .form-group
        %label
          Ticket Status
        = select_tag :ticket_status, options_for_select([['Open', 'open'], ['Processing', 'processing'], ['For Verification', 'verification'], ['Closed', 'closed']], params[:ticket_status]), class: "form-control select-select2", id: "ticket-status-select", prompt: "-- SELECT --"

    .col-md-2.col-12
      .form-group
        %label
          Actions
        .form-group
          .btn-group
            = button_tag type: 'submit', class: 'btn btn-info btn-block', id: "search-btn" do
              .bi.bi-search
