= form_tag "", method: 'GET', id: "filter-form" do
  .row.g-2{ style: "row-gap: 0rem;" }
    .col-md-3.col-12
      .form-group
        %label
          SATO
        = select_tag :branch_id, options_from_collection_for_select(@branches.order(:name), :id, ->(branch) { branch.name.upcase }, params[:branch_id]), class: "form-control select-select2 form-control-sm", id: "branch-select", prompt: "-- SELECT --"

    .col-md-2.col-12
      .form-group
        %label
          Concern From
        = select_tag :concern_for_id, options_from_collection_for_select(@concern_fors.order(:name), :id, :name, params[:concern_for_id]), class: "form-control select-select2 form-control-sm", id: "concern-for-select", prompt: "-- SELECT --"

    .col-md-3.col-12
      .form-group
        %label
          Assigned Person
        = select_tag :assigned_user_id, options_for_select(@developer_members.map { |member| [member[:name], member[:id]] }, params[:assigned_user_id]), class: "form-control select-select2 form-control-sm", id: "assigned-person-select", prompt: "-- SELECT --"
    
    .col-md-1.col-12
      .form-group
        %label
          Category
        = select_tag :concern_category, options_for_select([['Low', 'low'], ['Medium', 'medium'], ['High', 'high']], params[:concern_category]), class: "form-control select-select2 form-control-sm", id: "concern-category-select", prompt: "-- SELECT --"

    -# .col-md-2.col-12
    -#   .form-group
    -#     %label
    -#       Start Date
    -#     = text_field_tag :start_date, params[:start_date], class: 'form-control form-control-sm', type: :date, id: "start-date"

    -# .col-md-2.col-12
    -#   .form-group
    -#     %label
    -#       End Date
    -#     = text_field_tag :end_date, params[:end_date], class: 'form-control form-control-sm', type: :date, id: "end-date"

    .col-md-1.col-12
      .form-group
        %label
          Status
        = select_tag :ticket_status, options_for_select([['Open', 'open'], ['Hold', 'hold'], ['Processing', 'processing'], ['For Verification', 'verification'], ['Closed', 'closed']], params[:ticket_status]), class: "form-control select-select2 form-control-sm", id: "ticket-status-select", prompt: "-- SELECT --"

    .col-auto
      .form-group
        %label
          Actions
        .form-group
          .btn-group
            = button_tag type: 'submit', class: 'btn btn-info btn-sm btn-block', id: "search-btn" do
              .bi.bi-search
            = button_tag type: 'button', class: 'btn btn-secondary btn-sm btn-block no-print', onclick: 'printTable()', id: "print-btn" do
              %i.bi.bi-printer.me-1
  
