%h3{ style: "font-weight: bold;" } CONCERN TICKET: #{@concern_ticket.name}
= render partial: "show_filter"
%table.table.table-sm.table-hover.table-bordered
  %thead
    %tr
      %th.text-center Ticket Number
      %th.text-center Concern From
      %th.text-center Concern Type
      %th.text-center Requested By
      %th.text-center SATO
      %th.text-center Assigned Person
      %th.text-center Posted Date
      %th.text-center Status
      %th.text-center Actions
  %tbody
    - if @details_records.present?
      - @details_records.each do |ticket|
        %tr
          %td.text-center= ticket.ticket_number || "N/A"
          %td.text-center= ticket.concern_for&.name || "N/A"
          %td.text-center= ticket.concern_type&.name || "N/A"
          %td.text-center= ticket.requested_user ? "#{ticket.requested_user.first_name.capitalize} #{ticket.requested_user.last_name.capitalize}" : "N/A"
          %td.text-center= ticket.branch&.name || "Unassigned"
          %td.text-center= ticket.assigned_user ? "#{ticket.assigned_user.first_name.capitalize} #{ticket.assigned_user.last_name.capitalize}" : "Unassigned"
          %td.text-center.small-text= ticket.created_at.strftime("%b %d, %Y %I:%M %p")
          %td.text-center
            - case ticket.status
            - when "open"
              .badge.bg-success Open
            - when "processing"
              .badge.bg-primary Processing
            - when "verification"
              .badge.bg-warning For Verification
            - when "closed"
              .badge.bg-danger Closed
            - else
              .badge.bg-secondary Pending
          %td.text-center
            = link_to view_tix_concern_ticket_path(ticket), class: "btn btn-primary btn-md me-1", title: "View Tickets", data: { bs_toggle: "tooltip" } do
              %i.bi.bi-eye

            - developer_task = ConcernTicketUser.find_by(concern_ticket_id: @concern_ticket.id, user_id: current_user.id, task: "Developer")
            - if developer_task || current_user.is_mis?
              - case ticket.status
              - when "open"
                = button_tag class: "btn btn-primary update-status me-1", data: { ticket_number: ticket.ticket_number, status: "processing" }, title: "Process Ticket" do
                  %i.bi.bi-gear
              - when "processing"
                = button_tag class: "btn btn-warning update-status me-1", data: { ticket_number: ticket.ticket_number, status: "verification" }, title: "Move for Verification" do
                  %i.bi.bi-arrow-right-circle

            - case ticket.status
            - when "verification"
              = button_tag class: "btn btn-danger update-status", data: { ticket_number: ticket.ticket_number, status: "closed" }, title: "Close Ticket" do
                %i.bi.bi-x-circle

    - else
      %tr
        %td{ colspan: 9, class: "text-center" } No ticket details found

= render "concern_tickets/modals/create_ticket"