.card
    .card-header.d-flex.justify-content-between.align-items-center{ style: "background-color:rgb(46, 46, 46); color: white;" }
        %h4.mb-0.text-white
            Ticket Number: #{@concern_ticket_details.ticket_number}
        %h6.mb-0.text-white
            #{@concern_ticket&.name}
    .card-body.p-4
        .row
            .col-12.mb-3
                %strong
                    Description:
                .p-3.border.rounded.bg-light.min-vh-50
                    = @concern_ticket_details.description.presence

            .col-md-6.mb-3
                %strong
                    Concern Type:
                %p.text-muted= @concern_type&.name

            .col-md-6.mb-3
                %strong
                    Requested By:
                %p.text-muted= @concern_ticket_details.user ? "#{@concern_ticket_details.user.first_name.capitalize} #{@concern_ticket_details.user.last_name.capitalize}" : "Unassigned"


            .col-md-6.mb-3
                %strong
                    Branch:
                %p.text-muted= @concern_ticket_details.branch&.name

            .col-md-6.mb-3
                %strong
                    Assigned Person:
                %p.text-muted Unassigned  # Update when assigned user info is available

            .col-md-6.mb-3
                %strong
                    Posted Date:
                %p.text-muted= @concern_ticket_details.created_at.strftime("%b %d, %Y")

            .col-md-6.mb-3
                %strong
                    Status:
                - case @concern_ticket_details.status
                    - when "open"
                        .badge.bg-success
                            Open
                    - when "processing"
                        .badge.bg-primary
                            Processing
                    - when "verification"
                        .badge.bg-warning.text-dark
                            For Verification
                    - when "closed"
                        .badge.bg-danger
                            Closed
                    - else
                        .badge.bg-secondary
                            Unknown

    .card-footer.d-flex.justify-content-end.bg-light
        = link_to "Back to Tickets", concern_ticket_path(@concern_ticket), class: "btn btn-secondary"

