:css
  @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");

%table.table.table-bordered.table-hover
  %thead
    %tr
      %th 
      %th Supplier Name
      %th Item Name
      %th(style="text-align: center;") Status
      %th(style="text-align: center;") Actions  
  %tbody
    - if @inventories.present?
      - @inventories.each do |inventory|
        %tr
          %td{ style: "text-align: center;" }
            = link_to view_inventory_path(inventory), title: "View Stock" do
              %i.fa-solid.fa-magnifying-glass.fa-lg
          %td= inventory.supplier.try(:name) || "N/A"
          %td= inventory.item.try(:name) || "N/A"
          %td(style="text-align: center;")
            - if inventory.status == "Active"
              %span.badge.bg-success= inventory.status
            - elsif inventory.status == "Dispose"
              %span.badge.bg-danger= inventory.status
            - else
              %span.badge.bg-secondary= "N/A"
          %td(style="text-align: center;")
            = link_to 'Update', edit_inventory_path(inventory), class: 'btn btn-primary btn-sm'
            = link_to 'Delete', destroy_inventory_path(inventory), method: :delete, data: { confirm: 'Are you sure you want to delete this stock item?' }, class: 'btn btn-danger btn-sm ml-2'
    - else
      .alert.alert-warning.text-center No records found
