.card.some{:style=>"padding:1%"}
    %h2
        System Tickets
    = form_tag "", method: 'GET' do
        %table.table{:style=>"border-color:white;font-size:110%"}
            %tr
                %td{:style=>"width:30%"}
                    .form-group
                        = text_field_tag :q, params[:q], class: "form-control", placeholder: "Search ticket"
                %td
                    .form-group
                        =button_tag type: 'submit', class: 'btn btn-info btn-block' do
                            .bi.bi-search
    .row
        -if @tickets.empty?
            %center
                %hr{:style=>"height:30px;color:white"}
                %h2
                    No system tickets found.
                %hr{:style=>"height:30px;color:white"}
        -else
            -@computer_systems.each do |x|
                -join_stat=0
                .col-3{:style=>"padding:20px"}
                    %div
                        = link_to "/system_tickets_#{x.id}", class: "btn-nav-square-md" do
                            %h5
                                #{ComputerSystem.where(id:x.computer_system_id)[0].name}
                    %div{:style=>"margin:20px"}
                        %center
                            -if current_user.id==x.user_id.to_s
                                =link_to "/system_tickets_#{x.id}/edit" do
                                    %p
                                        Edit Members
                            -else
                                -SystemTicket.find(x.id).data["team_members"].each do |y|
                                    -if current_user.id==y
                                        -if !SystemTicketsUser.where(user_id:current_user.id,system_ticket_id:x.id).empty?
                                            -if SystemTicketsUser.where(user_id:current_user.id,system_ticket_id:x.id)[0].status=="pending"
                                                -join_stat=1
                                            -else
                                                -join_stat=2
                                -if join_stat==2
                                    -if SystemTicketsUser.where(user_id:current_user.id,system_ticket_id:x.id)[0].status=='active'
                                        %p{:style=>"color:green"}
                                            Member (#{SystemTicketsUser.where(user_id:current_user.id,system_ticket_id:x.id)[0].status})
                                    -elsif SystemTicketsUser.where(user_id:current_user.id,system_ticket_id:x.id)[0].status=='inactive'
                                        %p{:style=>"color:red"}
                                            Member (#{SystemTicketsUser.where(user_id:current_user.id,system_ticket_id:x.id)[0].status})
                                -if join_stat==1
                                    %p{:style=>"color:OrangeRed"}
                                        Pending request
                                -if join_stat==0
                                    = form_tag "/system_tickets/join_st", method: 'POST' do
                                        .form-group
                                        =text_field_tag :mem_id,params[:mem_id]=current_user.id,class:'form-control',style:'display:none'
                                        .form-group
                                            =text_field_tag :id,params[:id]=x.id,class:'form-control',style:'display:none'
                                        .form-group
                                            = button_tag type: 'submit',class:'btt-linkto' do
                                                %p
                                                    Join
:css
    form {display: inline;}
    .form-group {display: inline;}
    .btt-linkto{background:none!important;border:none;padding:0!important;color:#0D6EFD;text-decoration:underline;cursor:pointer;}
    .btt-linkto:hover{color:#0A58CA;}
                                    