.card.some{:style=>"padding:1%"}
    %h2 System Tickets - #{@system_name}
    = form_tag "", method: 'GET' do
        %table.table{:style=>"border-color:white;font-size:110%"}
            %tr
                %td{:style=>"width:20%"}
                    %label
                        Date Received
                    .form-group
                        =text_field_tag :f_date,params[:f_date],class:'form-control',type: :date
                %td{:style=>"width:20%"}
                    %label
                        Status
                    .form-group
                        =select_tag :f_status,options_for_select([["pending","pending"],["approved","approved"],["processing","processing"],["for verification","for verification"],["done","done"]], params[:f_status]),class:'form-control select-select2',prompt:"-- SELECT --"
                %td
                    %label
                    .form-group2
                        =button_tag type: 'submit', class: 'btn btn-info btn-block' do
                            .bi.bi-search
    %table.table.table-bordered.table-sm
        %th.some{:style=>"width:5%"}
            %h
                Ticket No.
                
        %th.some{:style=>"width:5%"}
            %h
                Date received
        %th.some{:style=>"width:5%"}
            %h
                Start Date
        %th.some{:style=>"width:5%"}
            %h
                End Date
        %th.some{:style=>"width:5%"}
            %h
                Request Type
        %th.some{:style=>"width:5%"}
            %h
                Requested By 
        %th.some{:style=>"width:5%"}
            %h
                Main Dev 
        %th.some{:style=>"width:5%"}
            %h
                Status
        %th.some{:style=>"width:5%"}
            %h
                Actions
            - @system_tix_desc.each do |x|
                %tr
                    %td
                        %p
                        %p
                            #{x[1]}  
                    %td
                        %p
                        %p
                            #{x[2]}  
                    %td
                        %p
                        %p
                            #{x[3]}        
                    %td
                        %p
                        %p
                            #{x[4]}
                    %td
                        %p
                        %p
                            #{x[5]}
                    %td
                        %p
                        %p
                            #{x[6]}
                    %td
                        %p
                        %p
                            #{x[7]}                       
                    %td
                        %center
                            %p
                                -if !x[9]
                                    - case x[8]
                                    - when 'pending'
                                        .badge.bg-warning
                                            #{x[8]}
                                    - when 'done'
                                        .badge.bg-dark
                                            #{x[8]}
                                    - when 'approved'
                                        .badge.bg-success
                                            #{x[8]}
                                    - when 'processing'
                                        .badge.bg-primary
                                            #{x[8]}
                                    - when 'for verification'
                                        .badge.bg-secondary
                                            #{x[8]}        
                                -else
                                    .badge.bg-danger
                                        on hold
                    %td
                        %center
                            %div-row
                                %div-col-6
                                    %a.button{class:"btn btn-primary",:style=>"margin:7% 7px 0 0;padding:0.5% 5% 0.5% 5%",:href => "/system_tickets/#{x[0]}"}
                                        %i.bi.bi-eye
                                %div-col-12
                                    -if !x[9]
                                        -if x[8]!='done'
                                            = form_tag "system_tickets/hold_ticket/#{x[0]}", method: 'POST' do
                                                .form-group
                                                    =button_tag type: 'submit', class: 'btn btn-danger',style:"margin:7% 0 0 7px;padding:0.5% 5% 0.5% 5%",onclick:"submitArray()",id:"sub-btn" do
                                                        %i.bi.bi-pause
                                    -else
                                        = form_tag "system_tickets/hold_ticket/#{x[0]}", method: 'POST' do
                                            .form-group
                                                =button_tag type: 'submit', class: 'btn btn-success',style:"margin:7% 0 0 7px;padding:0.5% 5% 0.5% 5%",onclick:"submitArray()",id:"sub-btn" do
                                                    %i.bi.bi-play

    -if @system_tix_desc.empty?
        %center
            %h4{:style=>"margin:50px"}
                No records found.

:css
    form {display: inline;}
    .form-group {display: inline;}

