.card.some{:style=>"padding:1%"}
    %h2 System Tickets - #{@system_name}
    = form_tag "", method: 'GET' do
        %table.table{:style=>"border-color:white;font-size:110%"}
            %tr
                %td{:style=>"width:20%"}
                    %label
                        Start Date
                    .form-group
                        =text_field_tag :f_sdate,params[:f_sdate],class:'form-control',type: :date
                %td{:style=>"width:20%"}
                    %label
                        End Date
                    .form-group
                        =text_field_tag :f_edate,params[:f_edate],class:'form-control',type: :date
                %td{:style=>"width:20%"}
                    %label
                        Request Type
                    .form-group
                        =select_tag :f_type,options_for_select(SystemTicket.find(params[:id]).data["options_for_select"], params[:f_type]),class:'form-control select-select2',prompt:"-- SELECT --"
                %td{:style=>"width:20%"}
                    %label
                        Status
                    .form-group
                        =select_tag :f_status,options_for_select([["pending","pending"],["approved","approved"],["processing","processing"],["for verification","for verification"],["done","done"]], params[:f_status]),class:'form-control select-select2',prompt:"-- SELECT --"
                %td{:style=>"width:10%"}
                    %label
                        Progress
                    .form-group
                        =select_tag :f_hold,options_for_select([["on hold","true"],["in progress","false"]], params[:f_hold]),class:'form-control select-select2',prompt:"-- SELECT --"
                %td
                    %label
                    .form-group2
                        =button_tag type: 'submit', class: 'btn btn-info btn-block' do
                            .bi.bi-search
    %table.table.table-bordered.table-sm
        %th.some{:style=>"width:5%"}
            %h
                Ticket No.
        %th.some{:style=>"width:5%"}
            %h
                Subject
        %th.some{:style=>"width:5%"}
            %h
                Date received
        %th.some{:style=>"width:5%"}
            %h
                Target Date
        %th.some{:style=>"width:5%"}
            %h
                Start Date
        %th.some{:style=>"width:5%"}
            %h
                End Date
        %th.some{:style=>"width:5%"}
            %h
                Request Type
        %th.some{:style=>"width:5%"}
            %h
                Requested By 
        %th.some{:style=>"width:5%"}
            %h
                Main Dev 
        %th.some{:style=>"width:5%"}
            %h
                Status
        %th.some{:style=>"width:5%"}
            %h
                Category
        %th.some{:style=>"width:5%"}
            %h
                Actions
            - @system_tix_desc.each do |x|
                %tr
                    %td
                        %p
                        %p
                            #{x[1]} 
                            %span
                            -if SystemTicketDesc.find(x[0]).data["chat"].present? && x[13]!=0
                                -if !x[12]
                                    %i.bi.bi-envelope-check{:style=>"color:red",:title=>"New message from #{User.find(SystemTicketDesc.find(x[0]).data["chat"].last()[0])}"}
                                - else
                                    %i.bi.bi-envelope{:title=>"Last message by #{User.find(SystemTicketDesc.find(x[0]).data["chat"].last()[0])} on #{SystemTicketDesc.find(x[0]).data["chat"].last()[1]}"}
                    %td
                        %p
                        %p
                            #{SystemTicketDesc.find(x[0]).title}  
                    %td
                        %p
                        %p
                            #{x[2]}
                    %td
                        %p
                        %p
                            #{x[10]}    
                    %td
                        %p
                        %p
                            #{x[3]}        
                    %td
                        %p
                        %p
                            #{x[4]}
                    %td
                        %p
                        %p
                            #{x[5]}
                    %td
                        %p
                        %p
                            #{x[6][1]}
                    %td
                        %p
                        %p
                            #{x[7][1]}                       
                    %td
                        %center
                            %p
                                -if !x[9]
                                    - case x[8]
                                    - when 'pending'
                                        .badge.bg-warning
                                            #{x[8]}
                                    - when 'done'
                                        .badge.bg-dark
                                            #{x[8]}
                                    - when 'approved'
                                        .badge.bg-success
                                            #{x[8]}
                                    - when 'processing'
                                        .badge.bg-primary
                                            #{x[8]}
                                    - when 'for verification'
                                        .badge.bg-secondary
                                            #{x[8]}        
                                -else
                                    .badge.bg-danger
                                        on hold
                    %td
                        %center
                            %p
                                - case x[11]
                                - when 'high'
                                    .badge.bg-danger
                                        #{x[11]}
                                - when 'low'
                                    .badge.bg-success
                                        #{x[11]}
                                - when 'medium'
                                    .badge.bg-warning
                                        #{x[11]} 
                                - when 'uncategorized'
                                    .badge.bg-secondary
                                        #{x[11]} 
                    %td
                        %center
                            %div-row
                                %div-col-6
                                    -if SystemTicketDesc.find(x[0]).data["chat"].present?
                                        = form_tag "system_tickets/read_chat/#{x[0]}", method: 'POST' do
                                            .form-group
                                                =button_tag type: 'submit', class: 'btn btn-primary',id:"",style:"margin:7% 7px 0 0;padding:0.5% 5% 0.5% 5%",title:"View ticket" do    
                                                    %i.bi.bi-eye
                                    -else
                                        %a.button{class:"btn btn-primary",:style=>"margin:7% 7px 0 0;padding:0.5% 5% 0.5% 5%",:href => "/system_tickets/#{x[0]}"}
                                            %i.bi.bi-eye
                                %div-col-12
                                    -if current_user.id==SystemTicketsUser.find(x[7][0]).user_id || current_user.id==x[6][0] || @admin
                                        -if !x[9]
                                            -if x[8]!='done'
                                                = form_tag "system_tickets/hold_ticket/#{x[0]}", method: 'POST' do
                                                    .form-group
                                                        =button_tag type: 'submit', class: 'btn btn-danger',style:"margin:7% 0 0 7px;padding:0.5% 5% 0.5% 5%",onclick:"submitArray()",id:"sub-btn",title:"Hold ticket" do
                                                            %i.bi.bi-pause
                                        -else
                                            = form_tag "system_tickets/hold_ticket/#{x[0]}", method: 'POST' do
                                                .form-group
                                                    =button_tag type: 'submit', class: 'btn btn-success',style:"margin:7% 0 0 7px;padding:0.5% 5% 0.5% 5%",onclick:"submitArray()",id:"sub-btn",title:"Resume ticket" do
                                                        %i.bi.bi-play

    -if @system_tix_desc.empty?
        %center
            %h4{:style=>"margin:50px"}
                No records found.

:css
    form {display: inline;}
    .form-group {display: inline;}

