= link_to "/system_tickets_#{SystemTicketDesc.find(params[:id]).system_ticket_id}",style:"margin-left:1%" do
    < Back
%p
.card.some{:style=>"padding:1%"}
    %div.row{:style=>"width:100%"}
        %div
            %table.table{:style=>"border-color:white;font-size:115%;margin-bottom:-15px"}
                %tr
                    %th
                        %h
                            Ticket no. #{@ticket.ticket_number}
        %center
            %hr{:style=>"height:5px"}
        %div.col-6
            .card{:style=>"padding:3%"}
                %table.table{:style=>"border-color:white;font-size:115%;"}
                    %tr
                        %td
                            %p
                                #{@ticket.description}
                %table.table{:style=>"border-color:white;font-size:115%"}    
                    %tr
                        %th{:style=>"width:20%"}
                            Status:
                            - case @ticket.status
                            - when "processing"
                                %td{:style=>"width:10px"}
                                    %p{:style=>"margin-top:-20%;width:100px"}
                                        .badge.bg-primary
                                            #{@ticket.status} 
                                %td
                                    = form_tag "edit_ticket_status", method: 'POST' do
                                        .form-group
                                            =text_field_tag :id,params[:id],class:'form-control',style:'display:none'
                                        %td
                                            .form-group
                                                = button_tag type: 'submit',class:'btt-linkto' do
                                                    Update
                            - when "active"
                                %td{:style=>"width:10px"}
                                    %p{:style=>"margin-top:-20%;width:100px"}
                                        .badge.bg-success
                                            #{@ticket.status} 
                                %td
                                    = form_tag "edit_ticket_status", method: 'POST' do
                                        .form-group
                                            =text_field_tag :id,params[:id],class:'form-control',style:'display:none'
                                        %td
                                            .form-group
                                                = button_tag type: 'submit',class:'btt-linkto' do
                                                    Update
                            - when "pending"
                                %td{:style=>"width:10%"}
                                    %p{:style=>"margin-top:-20%;width:100px"}
                                        .badge.bg-warning
                                            #{@ticket.status} 
                                %td
                                    = form_tag "edit_ticket_status", method: 'POST' do
                                        .form-group
                                            =text_field_tag :id,params[:id],class:'form-control',style:'display:none'
                                        %td
                                            .form-group
                                                = button_tag type: 'submit',class:'btt-linkto' do
                                                    Update
                            -else
                                %td{:style=>"width:10%"}
                                    %p{:style=>"margin-top:-20%;width:100px"}
                                        .badge.bg-dark
                                            #{@ticket.status}
                                %td
                %table.table{:style=>"border-color:white;font-size:115%"}
                    %tr
                        %th{:style=>"width:20%"}
                            %p
                                Attached file:
                        %td{:style=>"width:20%"}
                            -case @ticket.data["attached_file"]
                            -when nil
                                %p
                                    N/A
                            -else
                                = link_to "#", data: { "bs-toggle": "modal", "bs-target": "#modal-view-file" },id:"btn-milestone" do
                                    View
                                = render partial: "system_tickets/modals/view_file"
                    %tr
                        %th
                            %p 
                                System name:
                        %td
                            %p
                                #{ComputerSystem.find(SystemTicket.find(@ticket.system_ticket_id).computer_system_id).name}
                    
                        %th{:style=>"width:20%"}
                            %p
                                Date received:
                        %td
                            %p
                                #{@ticket.date_received}
                    %tr
                        %th
                            %p
                                System type:
                        %td
                            %p
                                placeholder 
                        %th
                            %p
                                Date started:
                        %td
                            - case @ticket.start_date
                            - when nil
                                %p{:style=>"margin-top:-20px"}
                                    = form_tag "set_start_date", method: 'POST' do
                                        .form-group
                                            =text_field_tag :date,params[:date],class:'form-control',style:"width:60%",required:true,type: :date
                                        .form-group
                                            =text_field_tag :id,params[:id]=@ticket.id,class:'form-control',style:'display:none'
                                        %p
                                            .form-group
                                                = button_tag type: 'submit',class:'btt-linkto' do
                                                    Set start date 
                            - else
                                %p
                                    #{@ticket.start_date}
                %hr{:style=>"width:80%"}
                %table.table{:style=>"border-color:white;font-size:115%"}
                    %tr
                        %th{:style=>"width:20%"}
                            %p
                                Main Dev:
                        %td
                            %p
                                -case @maindev
                                    -when ""
                                        Not assigned
                                    -else
                                        #{@maindev}
                        %td{:style=>"width:40%"}
                            = link_to "#", data: { "bs-toggle": "modal", "bs-target": "#modal-main-dev" },id:"btn-milestone" do
                                Edit Main Dev
                    -i_show=0
                    -@mem_list.each do |x|
                        %tr
                            %th
                                -if i_show==0
                                    %p
                                        Members:
                                -else
                                    %p
                            %td
                                %p
                                    #{x[0]} 
                                    %span{:style=>"color:gray"} - #{x[1]}
                            %td
                                -if i_show==0
                                    = link_to "#", data: { "bs-toggle": "modal", "bs-target": "#modal-members" },id:"btn-milestone" do
                                        Edit Members
                                -else
                        -i_show+=1
                    -if @mem_list.empty?
                        %tr
                            %th
                                %p
                                    Members:
                            %td
                                %p
                                    No members
                            %td
                                = link_to "#", data: { "bs-toggle": "modal", "bs-target": "#modal-members" },id:"btn-milestone" do
                                    Edit Members
        %div.col-6
            .card{:style=>"padding:3%"}
                %table.table{:style=>"border-color:white;font-size:115%"}
                    %td
                        %h3
                            Milestones
                    - case @empty
                    - when false
                        %td{:style=>"width:20%"}
                            = link_to "#", data: { "bs-toggle": "modal", "bs-target": "#modal-milestones" },id:"btn-milestone" do
                                Update status
                        %table.table{:style=>"border-color:white;font-size:115%"}
                            %tr
                            %th{:style=>"width:20%"}
                                %p
                                    ID
                            %th{:style=>"width:45%"}
                                %p
                                    Details
                            %th{:style=>"width:10%"}
                                %p
                                    Status
                            %th{:style=>"width:15%"}
                                %p
                                    Target Date
                            - @milestones.each do |x|    
                                %tr 
                                    %td
                                        %p{:style => "font-size:13px"}
                                            #{x.id}
                                    %td
                                        %p
                                            #{x.milestone_details}
                                    %td
                                        %p{:style=>"margin-top:-16px"}
                                            - case x.status
                                            - when 'pending'
                                                .badge.bg-warning
                                                    #{x.status}
                                            - when 'done'
                                                .badge.bg-dark
                                                    #{x.status}
                                    %td
                                        %p
                                            #{x.target_date}
                    - when true
                        %table.table{:style=>"border-color:white;font-size:115%"}
                            %tr
                                %center
                                    %p
                                        No milestones found

                = link_to "#", data: { "bs-toggle": "modal", "bs-target": "#modal-new-milestone" },id:'btn-new-milestone' do
                    Add milestone

:css
    .btt-linkto{background:none!important;border:none;padding:0!important;color:#0D6EFD;text-decoration:underline;cursor:pointer;}
    .btt-linkto:hover{color:#0A58CA;}

= render partial: "system_tickets/modals/milestones"
= render partial: "system_tickets/modals/new_milestone"
= render partial: "system_tickets/modals/main_dev"
= render partial: "system_tickets/modals/members"
