#react-root
-@milestone1=0
=link_to "/system_tickets_#{@ticket.system_ticket_id}" do
    Back to #{ComputerSystem.find(SystemTicket.find(@ticket.system_ticket_id).computer_system_id).name} tickets
%p
.card.some{:style=>"padding:1%"}
    %div.row{:style=>"width:100%"}
        %div
            %table.table.table-bordered{:style=>"font-size:115%;margin-bottom:0px"}
                %tr
                    %th{:style=>"width:10%"}
                        %h
                            Ticket no. 
                    %td
                        %d
                            #{@ticket.ticket_number}
                %tr
                    %th
                        %h
                            Subject
                    %td
                        %d
                            #{@ticket.title}
        %center
            %hr{:style=>"height:0px"}
        %div.col-3
            %table.table.table-bordered.table-sm{:style=>"margin-bottom:0px"}   
                %tr
                    %th{:style=>"width:50%"}
                        %p 
                            System name:
                    %td{:style=>"width:50%"}
                        %p
                            #{ComputerSystem.find(SystemTicket.find(@ticket.system_ticket_id).computer_system_id).name}
                %tr
                    %th
                        %p 
                            Request type:
                    %td
                        %p
                            #{@ticket.request_type}
                %tr
                    %th
                        %p{:style=>"margin-top:10%"}
                            Status:
                            -if !@ticket.data["on_hold"]
                                - case @ticket.status
                                - when "processing"
                                    %td
                                        %center
                                            %p{:style=>";width:104px"}
                                                .badge.bg-primary
                                                    #{@ticket.status}
                                    %td
                                - when "approved"
                                    %td
                                        %center
                                            %p{:style=>";width:104px"}
                                                .badge.bg-success
                                                    #{@ticket.status} 
                                - when "pending"
                                    %td
                                        %center
                                            %p{:style=>"width:104px"}
                                                .badge.bg-warning
                                                    #{@ticket.status} 
                                - when "for verification"
                                    %td
                                        %center
                                            %p{:style=>"width:104px"}
                                                .badge.bg-secondary
                                                    #{@ticket.status} 
                                -else
                                    %td
                                        %center
                                            %p{:style=>"width:104px"}
                                                .badge.bg-dark
                                                    #{@ticket.status}
                            -else
                                %td
                                    %center
                                        %p{:style=>"width:104px"}
                                            .badge.bg-danger
                                                on hold
                %tr
                    %td
                        %p{:style=>"margin-top:10%;margin-bottom:-1%;font-weight:bold"}
                            Category:&nbsp&nbsp
                            -if @ticket.status!="done"
                                -if @role==3 || @role==5
                                    %span{:style=>"font-weight:normal"}
                                        =link_to "#", data: { "bs-toggle": "modal", "bs-target": "#modal-change-category" },id:'btn-new-milestone' do
                                            Edit
                    %td
                        %p
                            - if @ticket.data.include? "category"
                                - case @ticket.data["category"]
                                - when "high"
                                    %center
                                        %p{:style=>";width:104px"}
                                            .badge.bg-danger
                                                high
                                - when "medium"
                                    %center
                                        %p{:style=>";width:104px"}
                                            .badge.bg-warning
                                                medium
                                - when "low" 
                                    %center
                                        %p{:style=>";width:104px"}
                                            .badge.bg-success
                                                low
                            - else
                                %center
                                    %p{:style=>";width:104px"}
                                        .badge.bg-secondary
                                            uncatergorized
                %tr
                    %th
                        %p
                            Date received:
                    %td
                        %p
                            #{@ticket.date_received}
                %tr
                    %th
                        %p
                            Date started:
                    %td
                        - case @ticket.start_date
                        - when nil
                            -if @role==3 || @role==5
                                -if !@ticket.data["on_hold"]
                                    =link_to "#", data: { "bs-toggle": "modal", "bs-target": "#modal-set-start-date" },id:'btn-new-milestone' do
                                        %p
                                            Set start date
                            -else
                                %p
                                    Not yet set. 
                        - else
                            %p
                                #{@ticket.start_date}
                %tr
                    %th
                        %p 
                            Requested by:
                    %td
                        %p
                            #{User.find(@ticket.requested_by).last_name}, #{User.find(@ticket.requested_by).first_name}
                %tr
                    %th
                        %p 
                            Target date:
                    %td
                        %p
                            #{@ticket.target_date}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            -if !@ticket.data["on_hold"] && @ticket.status=="pending"
                                -if @role==3 || @role==5
                                    %span
                                        =link_to "#", data: { "bs-toggle": "modal", "bs-target": "#modal-edit-target-date" },id:'btn-new-milestone' do
                                            Edit
            %hr{:style=>"width:100%"}
            %table.table.table-bordered.table-sm
                %tr
                    %th{:style=>"width:25%"}
                        %p
                            Main Dev:
                    %td
                        %p
                            -case @maindev
                                -when ""
                                    Not assigned
                                -else
                                    #{@maindev[0]}
                    %td{:style=>"width:20%"}
                        -if @ticket.status!="done"
                            -if @role==3 || @role==5
                                = link_to "#", data: { "bs-toggle": "modal", "bs-target": "#modal-main-dev" },id:"btn-milestone" do
                                    Change
                -i_show=0
                -@mem_list.each do |x|
                    %tr
                        %th
                            -if i_show==0
                                %p
                                    Members:
                            -else
                                %p
                        %td
                            %p
                                #{x[0]} 
                                %span{:style=>"color:gray"} - #{x[1]}
                        %td
                            -if i_show==0
                                -if @ticket.status!="done"
                                    -if @role==3 || @role==5
                                        = link_to "#", data: { "bs-toggle": "modal", "bs-target": "#modal-members" },id:"btn-milestone" do
                                            Edit
                            -else
                    -i_show+=1
                -if @mem_list.empty?
                    %tr
                        %th
                            %p
                                Members:
                        %td
                            %p
                                No members
                        %td
                            -if @ticket.status!="done"
                                -if @role==3 || @role==5
                                    = link_to "#", data: { "bs-toggle": "modal", "bs-target": "#modal-members" },id:"btn-milestone" do
                                        Edit

            %hr{:style=>"width:100%"}
            %table.table.table-bordered.table-sm
                %tr
                    %th{:style=>"width:25%"}
                        %p
                            Attached File(s):
                    -if !@ticket.data["file"].empty? && current_user.id==@ticket.requested_by
                        %td{:style=>"width:5%"}
                -if !@ticket.file.attached?
                    -if current_user.id==@ticket.requested_by
                        %td
                            = link_to "#", data: { "bs-toggle": "modal", "bs-target": "#modal-add-attachment" },id:'btn-new-milestone' do
                                Add attachment       
                    -else 
                        %td
                            No attachment found.     
                -else 
                    -file_count=0
                    -while file_count!=@ticket.data["file"].count
                        %tr
                            %td
                                %a{:href=>url_for(@ticket.file[@ticket.file.count-@ticket.data["file"].count]),:download=>"download"}
                                    #{@ticket.data["file"][file_count]["original_filename"]}
                                -file_count=file_count+1
                                -if file_count==1 && current_user.id==@ticket.requested_by
                                    %td{:style=>"width:5%"}
                                        = link_to "#", data: { "bs-toggle": "modal", "bs-target": "#modal-add-attachment" },id:'btn-new-milestone' do
                                            Edit
                                -else

        %div.col-9
            %table.table.table-bordered.table-sm{:style=>"margin-top:15px;margin-bottom:0px"}  
                %tr
                    %th{:style=>"width:10%"}
                        %p 
                            Description:
                    %td
                        %p{:style=>"min-height:40px"}
                            #{@ticket.description}
            %hr
            .card.some{:style=>"padding:1%;"}
                %table.table{:style=>"border-color:white;font-size:115%;margin-bottom:0px"}
                    %tr
                        %td{:style=>"width:15%"}
                            %h3
                                Milestones
                        %td{:style=>"padding-top:12px"}
                            -if !@ticket.data["on_hold"]
                                -if @ticket.status!="done"
                                    -if @role==3 || @role==5|| @role==2
                                        = link_to "#", data: { "bs-toggle": "modal", "bs-target": "#modal-new-milestone" },id:'btn-new-milestone' do
                                            Add milestone    
                    
                %table.table{:style=>"border-color:white;font-size:115%"}
                    %table.table.table-bordered.table-sm
                        %tr
                            %th{:style=>"width:30%"}
                                %p
                                    %center
                                        Details
                            %th{:style=>"width:5%"}
                                %p
                                    %center
                                        Status
                            %th{:style=>"width:10%"}
                                %p
                                    %center
                                        Target Date
                            %th{:style=>"width:10%"}
                                %p
                                    %center
                                        Start Date
                            %th{:style=>"width:10%"}
                                %p
                                    %center
                                        End Date
                            %th{:style=>"width:10%"}
                                %p
                                    %center
                                        Assigned Dev
                            %th{:style=>"width:5%"}
                                %p
                                    %center
                                        Action
                        - if !@empty
                            - @milestones.each do |x|
                                -if x.start_date==nil
                                    %tr
                                        %td
                                            %p
                                                %center
                                                    .form-group
                                                        =text_field_tag :temp,x.id,class:'form-control',id:"m-#{@milestones.index(x)}",style:'display:none'
                                                    %p{:id=>"d-#{@milestones.index(x)}"}
                                                        #{x.milestone_details}&nbsp
                                                    - case x.status
                                                        - when 'pending'
                                                            -if !@ticket.data["on_hold"]
                                                                -if @ticket.status!="done"
                                                                    -if @role==3 || @role==5 
                                                                        %p{:style=>"margin-top:-15px"}
                                                                            = link_to "#", data: { "bs-toggle": "modal", "bs-target": "#modal-edit-milestone-details"},onclick:"putMSId2(#{@milestones.index(x)});return false" do
                                                                                Edit
                                                                    -if @role==2 && SystemTicketsUser.where(user_id:current_user.id,system_ticket_id:@ticket.system_ticket_id).count>0 && x.assigned_person==SystemTicketsUser.where(user_id:current_user.id,system_ticket_id:@ticket.system_ticket_id)[0].id
                                                                        %p{:style=>"margin-top:-15px"}
                                                                            = link_to "#", data: { "bs-toggle": "modal", "bs-target": "#modal-edit-milestone-details"},onclick:"putMSId2(#{@milestones.index(x)});return false" do
                                                                                Edit
                                        %td
                                            %p
                                                %center
                                                    - case x.status
                                                    - when 'pending'
                                                        .badge.bg-warning
                                                            #{x.status}
                                                    - when 'done'
                                                        .badge.bg-dark
                                                            #{x.status}
                                        %td
                                            %p
                                                %center
                                                    #{x.target_date}
                                            %p 
                                                %center
                                                    .form-group
                                                        =text_field_tag :temp,x.id,class:'form-control',id:"t-#{@milestones.index(x)}",style:'display:none'
                                                    .form-group
                                                        =text_field_tag :temp,x.id,class:'form-control',id:"date-#{@milestones.index(x)}",value:"#{x.target_date}",style:"display:none"
                                                    - case x.status
                                                        - when 'pending'
                                                            -if !@ticket.data["on_hold"]
                                                                -if @ticket.status!="done"
                                                                    -if @role==3 || @role==5
                                                                        %p{:style=>"margin-top:-15px"}
                                                                            = link_to "#", data: { "bs-toggle": "modal", "bs-target": "#modal-edit-milestone-target-date"},onclick:"putMSId3(#{@milestones.index(x)});return false" do
                                                                                Edit
                                                                    -if @role==2 && SystemTicketsUser.where(user_id:current_user.id,system_ticket_id:@ticket.system_ticket_id).count>0 && x.assigned_person==SystemTicketsUser.where(user_id:current_user.id,system_ticket_id:@ticket.system_ticket_id)[0].id
                                                                        %p{:style=>"margin-top:-15px"}
                                                                            = link_to "#", data: { "bs-toggle": "modal", "bs-target": "#modal-edit-milestone-target-date"},onclick:"putMSId3(#{@milestones.index(x)});return false" do
                                                                                Edit
                                        %td
                                            -if @role==3 || @role==5
                                                %p
                                                    %center
                                                        = link_to "#", data: { "bs-toggle": "modal", "bs-target": "#modal-set-start-date-milestone"},onclick:"putMSId(#{@milestones.index(x)});return false" do
                                                            Set date
                                            -if @role==2 && SystemTicketsUser.where(user_id:current_user.id,system_ticket_id:@ticket.system_ticket_id).count>0 && x.assigned_person==SystemTicketsUser.where(user_id:current_user.id,system_ticket_id:@ticket.system_ticket_id)[0].id
                                                %p
                                                    %center
                                                        = link_to "#", data: { "bs-toggle": "modal", "bs-target": "#modal-set-start-date-milestone"},onclick:"putMSId(#{@milestones.index(x)});return false" do
                                                            Set date
                                            -else
                                                %p 
                                                    %center 
                                                        #{"--"}
                                        %td
                                            %p
                                                %center
                                                    #{"--"}
                                        %td
                                            %p
                                                %center
                                                    #{User.find(SystemTicketsUser.find(x.assigned_person).user_id).last_name}, #{User.find(SystemTicketsUser.find(x.assigned_person).user_id).first_name}
                                        %td
                                            %p
                                -else
                                    %tr
                                        = form_tag "edit_milestone", method: 'POST' do
                                            %td
                                                %p
                                                    %center
                                                        .form-group
                                                            =text_field_tag :temp,x.id,class:'form-control',id:"m-#{@milestones.index(x)}",style:'display:none'
                                                        .form-group
                                                            =text_field_tag :temp,x.id,class:'form-control',id:"u-#{@milestones.index(x)}",style:'display:none'
                                                        %p{:id=>"d-#{@milestones.index(x)}"}
                                                            #{x.milestone_details}&nbsp
                                                        - case x.status
                                                            - when 'pending'
                                                                -if !@ticket.data["on_hold"]
                                                                    -if @ticket.status!="done"
                                                                        -if @role==3 || @role==5
                                                                            %p{:style=>"margin-top:-15px"}
                                                                                = link_to "#", data: { "bs-toggle": "modal", "bs-target": "#modal-edit-milestone-details"},onclick:"putMSId2(#{@milestones.index(x)});return false" do
                                                                                    Edit
                                            %td
                                                %p
                                                    %center
                                                        - case x.status
                                                        - when 'pending'
                                                            .badge.bg-warning
                                                                #{x.status}
                                                        - when 'done'
                                                            .badge.bg-dark
                                                                #{x.status}
                                            %td
                                                %p
                                                    %center
                                                        #{x.target_date}
                                            %td
                                                %p
                                                    %center
                                                        #{x.start_date}
                                            %td
                                                %p
                                                    %center
                                                        -if x.end_date==nil
                                                            #{"--"}
                                                        -else
                                                            #{x.end_date}
                                            %td
                                                %p
                                                    %center
                                                        #{User.find(SystemTicketsUser.find(x.assigned_person).user_id).last_name}, #{User.find(SystemTicketsUser.find(x.assigned_person).user_id).first_name}
                                            %td
                                                %p
                                                    %center
                                                        - case x.status
                                                            - when 'pending'
                                                                -if !@ticket.data["on_hold"]
                                                                    -if @ticket.status!="done"
                                                                        -if @role==3 || @role==5
                                                                            = button_tag onclick:'updateStatus()',type: 'submit',class:'btt-linkto' do
                                                                                Update
                    -if @empty
                        %center
                            %hr{:style=>"height:30px;color:white"}
                            %h4
                                No milestone found
                            %hr{:style=>"height:30px;color:white"}
.card.some{:style=>"padding:1%;"}
    %div{:style=>"height:650px;padding:0px 50px",:id=>"chat-div"}
        %div
            %center
                %h2{:style=>"margin-bottom:-2px"}
                    Chat
                %p
                    -if @chat.empty?
                        No messages yet.
                    -else
                        Last message by 
                        %span{:style=>"font-weight:bold"}
                            #{User.find(@chat.last()[0]).first_name} #{User.find(@chat.last()[0]).last_name}
                        on
                        %span{:style=>"font-weight:bold"}
                            #{@chat.last()[1]}
        %hr{:style=>"height:10px"}  
        %div{:style=>"height:500px;max-height:500px;display:flex;flex-direction:column-reverse;overflow:auto;",:id=>"chat-box"}
            -if @chat.empty?
                %p 
                    No messages yet.
            -else 
                -@chat.reverse_each do |x|
                    %div.snap-to-bottom
                        %p{:style=>"opacity:80%;font-size:15px;margin-bottom:-3px;"}
                            #{x[1]}
                        -if current_user.id==x[0]
                            %p{:style=>"font-weight:bold;font-size:20px;margin-bottom:-3px;color:#0D6EFD"}
                                #{User.find(x[0]).first_name} #{User.find(x[0]).last_name}
                        -else
                            %p{:style=>"font-weight:bold;font-size:20px;margin-bottom:-3px"}
                                #{User.find(x[0]).first_name} #{User.find(x[0]).last_name}
                        %p{:style=>"font-size:20px"}
                            #{x[2]}
                %p{:style=>"font-size:15px;margin-bottom:10px"}
                    This marks the beginning of the chat.
        -if @role>0 || current_user.id==@ticket.requested_by           
            = form_tag "chat", method: 'POST' do
                %div.row
                    .form-group
                        =text_field_tag :id,params[:id],class:'form-control',style:'display:none',value:@id_forchat
                    %div.col-11
                        .form-group
                            =text_field_tag :msg,params[:msg],class:'form-control',style:"width:100%;",placeholder:"Type a message..."
                    %div.col-1  
                        .form-group
                            =button_tag type: 'submit', class: 'btn btn-primary',style:"width:100px" do
                                Send
        -else
            %div.row
                %div.col-11
                    =text_field_tag :msg,params[:msg],class:'form-control',style:"width:100%;",placeholder:"Only members can send messages.",disabled:"disabled"
                %div.col-1  
                    =button_tag type: 'button', class: 'btn btn-primary',style:"width:100px",disabled:"disabled" do
                        Send
%hr{:style=>"height:15px;color:white"}

#modal-set-start-date-milestone.modal.fade
    .modal-dialog
        .modal-content
            .modal-header
                %h3.modal-title 
                    Set Start Date for Milestone
            .modal-body
                %label
                    Milestone Details
                %div{id:"deets"}
                %hr{style:"height:10px;color:white"} 
                %label
                    Start Date
                = form_tag "set_date_milestone", method: 'POST' do
                    .form-group
                        =text_field_tag :date,params[:date],class:'form-control',style:"width:60%",required:true,type: :date
                    .form-group
                        =text_field_tag :ms_id,params[:ms_id],class:'form-control',id:"ms_id",style:"display:none"
                    %hr{style:"height:5px;color:white"}
                    .form-group
                        =button_tag type: 'submit', class: 'btn btn-primary',id:"" do
                            Save

#modal-edit-milestone-details.modal.fade
    .modal-dialog
        .modal-content
            .modal-header
                %h3.modal-title 
                    Edit Details
            .modal-body
                %label
                    Old Details
                %div{id:"deets2"}
                %hr{style:"height:10px;color:white"} 
                %label
                    New Details
                = form_tag "edit_milestone_details", method: 'POST' do
                    .form-group
                        =text_area_tag :details,params[:details],class:'form-control',required:true
                    .form-group
                        =text_field_tag :ms_id,params[:ms_id],class:'form-control',id:"ms_id2",style:"display:none"
                    %hr{style:"height:5px;color:white"}
                    .form-group
                        =button_tag type: 'submit', class: 'btn btn-primary',id:"editDetails" do
                            Save
                
#modal-edit-milestone-target-date.modal.fade
    .modal-dialog
        .modal-content
            .modal-header
                %h3.modal-title 
                    Edit Target Date
            .modal-body
                %label
                    Old Target Date
                %div{id:"date1"}
                %hr{style:"height:10px;color:white"} 
                %label
                    New Target Date
                = form_tag "edit_milestone_target_date", method: 'POST' do
                    .form-group
                        =text_field_tag :date,params[:date],class:'form-control',style:"width:60%",required:true,type: :date
                    .form-group
                        =text_field_tag :ms_id,params[:ms_id],class:'form-control',id:"ms_id3",style:"display:none"
                    %hr{style:"height:5px;color:white"}
                    .form-group
                        =button_tag type: 'submit', class: 'btn btn-primary',id:"editDetails" do
                            Save

:css
    .btt-linkto{background:none!important;border:none;padding:0!important;color:#0D6EFD;text-decoration:underline;cursor:pointer;}
    .btt-linkto:hover{color:#0A58CA;}

:javascript
    function putMSId(n)
    {
        var returnId = document.getElementById('ms_id')
        var passId   = document.getElementById("m-"+n).value
        document.getElementById("deets").innerHTML = document.getElementById('d-'+n).innerHTML
        returnId.value = passId
    }    

    function putMSId2(n)
    {
        var returnId = document.getElementById('ms_id2')
        var passId   = document.getElementById("m-"+n).value
        document.getElementById("deets2").innerHTML = document.getElementById('d-'+n).innerHTML
        returnId.value = passId
    }    

    function putMSId3(n)
    {
        var returnId = document.getElementById('ms_id3')
        var passId   = document.getElementById("m-"+n).value
        document.getElementById("date1").innerHTML = document.getElementById('date-'+n).value
        returnId.value = passId
    }    

    function updateStatus(n)
    {
        var returnId = document.getElementById('editDetails')
        var passId   = document.getElementById("u-"+n).value
        returnId.value = passId
    }    


= render partial: "system_tickets/modals/new_milestone"
= render partial: "system_tickets/modals/main_dev"
= render partial: "system_tickets/modals/members"
= render partial: "system_tickets/modals/set_start_date"
= render partial: "system_tickets/modals/edit_target_date"
= render partial: "system_tickets/modals/change_category"
= render partial: "system_tickets/modals/add_attachment"
= render partial: "system_tickets/modals/edit_attachment"