%h1.text-center.text-primary.mt-4 Edit Item Request
%hr(style="height:2px; background-color:#007bff;")

.container.mt-4
  = form_for @item_request, url: item_request_path(@item_request), method: :patch do |f|
    .form-group
      %label Date
      = f.date_field :date_request, class: "form-control"
    .form-group
      %label Sato ID
      = f.text_field :sato_id, class: "form-control"
    .form-group
      %label Status
      = f.select :status, ["Pending", "Approve", "On Process", "For Deliver", "Receive"], { prompt: "-- SELECT STATUS --" }, { class: "form-control" }
    .form-group
      %label Request Supply ID
      = f.text_field :request_supply_id, class: "form-control"
    .form-group
      %label Item Name
      = f.text_field :item_name, class: "form-control"
    .form-group
      %label Description
      = f.text_area :description, class: "form-control"
    .form-group.mt-3
      = f.submit "Update Item Request", class: "btn btn-primary"