%h1.text-center.text-primary.mt-4 Item Requests
%hr(style="height:2px; background-color:#007bff;")

.container-fluid.mt-4
  .row
    .col
      .card.shadow-sm
        .card-header.bg-primary.text-white
          %h4.mb-0.text-center Item Request List
        .card-body
          .row.mb-3
            .col.text-start
              = link_to 'New Item Request', new_item_request_path, class: 'btn btn-primary btn-sm'

          %table.table.table-bordered.table-hover.table-striped
            %thead.table-dark
              %tr
                %th.text-center Request Date
                %th.text-center Sato ID
                %th.text-center User ID
                %th.text-center Status
                %th.text-center ID
                %th.text-center Request Supply ID
                %th.text-center Item Name
                %th.text-center Description
                %th.text-center Actions
            %tbody
              - @item_requests.each do |item_request|
                %tr
                  %td.text-center= item_request.date_request
                  %td.text-center= item_request.sato_id
                  %td.text-center= item_request.user_id
                  %td.text-center= item_request.status
                  %td.text-center= item_request.id
                  %td.text-center= item_request.request_supply_id
                  %td.text-center= item_request.item_name
                  %td.text-center= item_request.description
                  %td.text-center
                    = link_to 'Edit', edit_item_request_path(item_request), class: 'btn btn-sm btn-warning'
