%li{ class: "#{params[:controller] == 'loans' ? 'active' : ''}" }
  .icon-link
    = link_to loans_path, class: "" do
      %i.bi.bi-credit-card
      %span.link-name
        Loans
    %i.bi.bi-caret-down.arrow
  %ul.sub-menu
    %li
      = link_to loans_path, class: "link-name" do
        Loans
    %li
      = link_to loans_path(status: "pending"), class: "" do
        %i.bi.bi-exclamation-circle
        Pending
      = link_to loans_path(status: "for-verification"), class: "" do
        %i.bi.bi-folder-check
        For Verification
      = link_to loans_path(status: "for-release"), class: "" do
        %i.bi.bi-bag-check
        For Release
      = link_to loans_path(status: "active"), class: "" do
        %i.bi.bi-bookmark-check
        Active
    %li
      = link_to online_loan_applications_path do
        %i.bi.bi-globe
        Online Loan Applications
