#modal-create-concern-for.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %h3.modal-title Add Concern For
      .modal-body
        = form_tag "/api/v1/tickets/concern_tickets/create_concern_for", method: 'POST' do
          = hidden_field_tag :concern_id, params[:id] 
          .container
            .row.mb-2
              .col-12
                %label Name
                = text_field_tag :name, params[:name], class: 'form-control', required: true
            .row.mb-2
              .col-12
                %label Description
                = text_area_tag :description, params[:description], class: 'form-control'
            
            .row
              .col-12.text-end
                = button_tag 'Add Concern', type: 'submit', class: 'btn btn-primary'
                = button_tag 'Cancel', type: 'button', class: 'btn btn-secondary', "data-bs-dismiss" => "modal"
