#modal-create-ticket.modal.fade{ tabindex: "-1", "aria-hidden" => "true", "data-bs-keyboard" => "false" }
  .modal-dialog.modal-lg
    .modal-content.bg-white.p-3
      .modal-header
        %h3.modal-title.w-200.text-primary CREATE TICKET 
        
        %button.btn-close{ "data-bs-dismiss" => "modal", "aria-label" => "Close" }
      %hr.mt-0.mb-3

      .modal-body
        = form_tag "/api/v1/tickets/concern_tickets/create_ticket", method: 'POST', multipart: true do
          .modal-body-content
            .bs-callout.bs-callout-info
              %h4.text-primary= @concern_ticket.name

            .row
              .col-12
                .form-group.mt-3
                  %label.font-weight-bold Description
                  = text_area_tag :description, "", id: "input-description", 
                    class: "form-control bg-light text-dark border-0 shadow-sm", rows: 3

            .row
              .col-md-6
                .form-group.mt-3
                  %label.font-weight-bold Concern For
                  .d-flex.align-items-center
                    = select_tag :name_for_id, 
                      options_from_collection_for_select(@concern_fors&.sort_by(&:name) || [], :id, :name), 
                      class: "form-control bg-secondary-subtle text-dark border-0 shadow-sm", 
                      id: "input-concern-for", prompt: "-- SELECT --"

              .col-md-6
                .form-group.mt-3
                  %label.font-weight-bold Concern Type
                  .d-flex.align-items-center
                    = select_tag :concern_type_id, 
                      options_from_collection_for_select(@concern_types&.sort_by(&:name) || [], :id, :name), 
                      class: "form-control bg-secondary-subtle text-dark border-0 shadow-sm", 
                      id: "input-concern-type", prompt: "-- SELECT --"

            .row
              .col-md-6
                .form-group.mt-3
                  %label.font-weight-bold Assigned Branch
                  = select_tag :branch_id, 
                    options_from_collection_for_select(@branches&.sort_by(&:name) || [], :id, :name), 
                    class: "form-control bg-secondary-subtle text-dark border-0 shadow-sm", id: "input-branch", prompt: "-- SELECT --"
              
              .col-md-6
                .form-group.mt-3
                  %label.font-weight-bold Attach Files
                  %i.bi.bi-upload.ms-2.text-primary
                  = file_field_tag :attachments, multiple: true, id: "input-attachments", 
                    class: "form-control bg-light text-dark border-0 shadow-sm", name: "attachments[]"

            .message
            = hidden_field_tag :concern_ticket_id, params[:id]
          .modal-footer.d-flex.justify-content-center
            .controls
              = button_tag type: 'submit', class: 'btn btn-primary' do
                %bi.bi-save.me-2 
                Add Concern
              &nbsp;
              = button_tag type: 'button', class: 'btn btn-secondary', "data-bs-dismiss" => "modal" do
                %bi.bi-x-lg
                Close

= render "concern_tickets/modals/create_concern_type"
= render "concern_tickets/modals/create_concern_for"
