.card
  .card-body
    #react-root
    %h2
      Dashboard
    %hr{:style=>"height:10px;color:white"}
    .row
      .col-md-3{:style=>"padding:20px"}
        %div
          = link_to "/system_tickets", class: "btn-nav-square-md w-100", style: "padding:100px 30px" do
            %center
              %h4
                SYSTEM TICKETS
              %hr{:style=>"color:white"}
              %h1
                #{SystemTicketDesc.count}
      .col-md-3{:style=>"padding:20px"}
        %div
          = link_to "/concern_tickets", class: "btn-nav-square-md w-100", style: "padding:100px 30px" do
            %center
              %h4
                CONCERN TICKETS
              %hr{:style=>"color:white"}
              %h1
                #{ConcernTicketDetail.count}
    %hr{:style=>"height:10px;color:white"}
    %div
      %table.table.table-bordered.table-sm{:style=>"font-size:20px"}
        %tr
          %th{:colspan=>"6"}
            %center
              YOUR TICKETS:
        %tr
          %th{:style=>"width:20%;padding-top:40px",:rowspan=>"2"}
            %center
              %h4
                Computer Systems
          %th{:colspan=>"5"}
            %center
              Ticket Status
        %tr
          %th{:style=>"width:10%"}
            Pending
          %th{:style=>"width:10%"}
            Approved
          %th{:style=>"width:10%"}
            In process
          %th{:style=>"width:10%"}
            For verification
          %th{:style=>"width:10%"}
            Done
        - ComputerSystem.all.each do |cs|
          %tr
            %th
              #{cs.name}
            %td
              #{SystemTicketDesc.where(system_ticket_id: ConcernTicket.where(computer_system_id: cs.id).pluck(:id), status: "pending").count + ConcernTicketDetail.where(concern_ticket_id: ConcernTicket.where(computer_system_id: cs.id).pluck(:id), status: "open").count}
            %td
              #{SystemTicketDesc.where(system_ticket_id: ConcernTicket.where(computer_system_id: cs.id).pluck(:id), status: "approved").count}
            %td
              #{SystemTicketDesc.where(system_ticket_id: ConcernTicket.where(computer_system_id: cs.id).pluck(:id), status: "processing").count + ConcernTicketDetail.where(concern_ticket_id: ConcernTicket.where(computer_system_id: cs.id).pluck(:id), status: "processing").count}
            %td
              #{SystemTicketDesc.where(system_ticket_id: ConcernTicket.where(computer_system_id: cs.id).pluck(:id), status: "for verification").count + ConcernTicketDetail.where(concern_ticket_id: ConcernTicket.where(computer_system_id: cs.id).pluck(:id), status: "for verification").count}
            %td
              #{SystemTicketDesc.where(system_ticket_id: ConcernTicket.where(computer_system_id: cs.id).pluck(:id), status: "done").count + ConcernTicketDetail.where(concern_ticket_id: ConcernTicket.where(computer_system_id: cs.id).pluck(:id), status: "done").count}
        - if ComputerSystem.all.empty?
          %hr{:style=>"height:30px;color:white"}
            %center
              %h3
                No system tickets found.

= render partial: "dashboard/modals/generate_daily_report"
= render partial: "dashboard/modals/generate_accounting_report"
= render partial: "templates/error_list"
= render partial: "templates/success_message"