.row
  .col-md-12.col-xs-12
    .card
      .card-body
        #react-root
        %ul.nav.nav-tabs{:role => "tablist"}
          %li.nav-item
            %a.nav-link.active.show{"aria-controls" => "concern_tickets", "aria-selected" => "true", "data-bs-toggle" => "tab", :href => "#home", :role => "tab"} 
              Concern Tickets
          %li.nav-item
            %a.nav-link{"aria-controls" => "system_tickets", "aria-selected" => "false", "data-bs-toggle" => "tab", :href => "#system_tickets", :role => "tab"} 
              System Tickets
        
        .tab-content.border-start.border-bottom.border-end
          #home.p-3.tab-pane.active.show{:role => "tabpanel"}
            = render partial: "concern_tickets"
        -if current_user.is_mis?
          #system_tickets.p-3.tab-pane.active{:role => "tabpanel"}
            = render partial: "system_tickets"

= render partial: "dashboard/modals/generate_daily_report"
= render partial: "dashboard/modals/generate_accounting_report"
= render partial: "templates/error_list"
= render partial: "templates/success_message"