-@STmembers=SystemTicketsUser.where(system_ticket_id:SystemTicketDesc.find(params[:id]).system_ticket_id)
-@STmem_arr=[]
-@STmembers.each do |x|
    -if x.status=="active"
        -@STmem_arr.push(x)
#modal-members.modal.fade
    .modal-dialog.modal-xl
        .modal-content
            .modal-header
                %h3.modal-title 
                    Edit Members
            .modal-body
                -if !@mem_list.empty?
                    %h4
                        Current Members
                    %table.table{:style=>"border-color:white;font-size:110%"} 
                        %tr
                            %td{:style=>"width:8%"}
                            %th{:style=>"width:30%"}
                                %p
                                    Member
                            %th
                                %p
                                    Task
                            %td
                                -temp_i=0
                        -@mem_list.each do |x|
                            %tr 
                                %td   
                                %td
                                    #{x[0]}
                                %td
                                    #{x[1]}
                                %td   
                                    -if @mem_list.length!=1                            
                                        =form_tag "delete_member",method: 'POST' do
                                            .form-group
                                                =text_field_tag :count,params[:count],class:'form-control',style:'display:none',value:@mem_list.count,id:"count"
                                            .form-group
                                                =text_field_tag :id,params[:id],class:'form-control',style:'display:none'                              
                                            .form-group
                                                =text_field_tag :mem_id,params[:mem_id],class:'form-control',style:'display:none',value:x[2],id:"d1-#{temp_i}"
                                            .form-group
                                                = button_tag type: 'submit',class:'btt-linkto2', value:temp_i do
                                                    Remove
                                        -temp_i=temp_i+1 
                -if !@not_a_mem.empty? && !@mem_list.empty?                            
                    %hr   
                -if !@not_a_mem.empty?
                    %h4         
                        Add New Members
                    %div.row
                        %div.col-9   
                            =form_tag "add_member", multipart: true, method: 'POST' do
                                %table.table{:style=>"border-color:white;font-size:110%"}
                                    .form-group
                                        =text_field_tag :id,params[:id],class:'form-control',style:'display:none'
                                    %tr
                                        %th{:style=>"width:10%"}
                                        %td
                                            %label
                                                Select Member(s)
                                            %div{:style=>"display:flex"}
                                                %select{:class => "form-control",:style=>"width:50%",:id=>"member-sel"}
                                                    -@not_a_mem.each do |x|
                                                        %option{:value => x,:id=>"selected#{x}"}
                                                            #{User.find(SystemTicketsUser.find(x).user_id).last_name}, #{User.find(SystemTicketsUser.find(x).user_id).first_name}
                                                %div
                                                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                %button{:class=> "btn btn-info btn-block", :onclick => "{addMember()}", :type=>"button"}
                                                    Add
                                                %div{:id=>"dup",:style=>"display:none;color:red;margin-bottom:-20px;padding-top:10px"}
                                                    %p
                                                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp*Duplicate member
                                                %div{:id=>"empty",:style=>"display:none;color:red;margin-bottom:-20px;padding-top:10px"}
                                                    %p
                                                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp*Members cannot be empty
                                    %tr
                                        %th
                                        %td
                                            %label
                                                Selected Members
                                            .card{:style=>"min-height:100px;padding:1%"}
                                                .form-group
                                                %table.table{:style=>"border-color:white;font-size:110%",:id=>"mem-container"}
                                    %tr
                                        %th
                                        %td
                                            .form-group
                                                %div{id:"sel-mem"}
                                            .form-group
                                                =button_tag type: 'button', class: 'btn btn-primary',onclick:"submitArray()",id:"sub-btn2" do
                                                    Save
:css
    .btt-linkto2{background:none!important;border:none;padding:0!important;color:red;text-decoration:underline;cursor:pointer;}
    .btt-linkto2:hover{color:#8B0000;}
    .form-group {display: inline;}

:javascript
    
    var arr=[]
    onload=deleteMember()
  
    function addMember() {
        var x=document.getElementById("member-sel").value
        var y=document.getElementById("selected"+x).label
        var w=0
        for(i=0;i<arr.length;i++)
        {
            if(arr[i][0]==x)
            {
                    w+=1;
            }
        }
        if(w==0)
        {
            document.getElementById("empty").style.display="none";
            document.getElementById("sub-btn2").type="submit"
            arr.push([x,y])
            document.getElementById("dup").style.display="none"
        }
        else
        {
            document.getElementById("dup").style.display="block"
            document.getElementById("empty").style.display="none";
        }

        displayMembers()
    }

    function displayMembers() {
        document.getElementById("mem-container").innerHTML=""
        document.getElementById("sel-mem").innerHTML=""

        var slct=document.createElement('select');
            slct.id="in-sel-mem"
            slct.multiple="multiple"
            slct.style.display="none"
            slct.name="members[]"

        console.log(slct.value+" val")

        document.getElementById("sel-mem").append(slct)

        if(arr.length==0) document.getElementById("sub-btn2").type="button";
        else document.getElementById("sub-btn2").type="submit"

        for(x=0;x<arr.length;x++)
        {
            var btt = document.createElement('button');
                btt.className = "btn btn-sm btn-danger";
                btt.type = "button";
                btt.innerText= "Remove";
            var temprow=document.getElementById("mem-container").insertRow(x)
            var cell1=temprow.insertCell(0)
                cell1.style="width:50%"
                cell1.innerHTML=arr[x][1]
            var cell2=temprow.insertCell(1)
                cell2.id="btt"+arr[x][0]
                btt.id="btt"+arr[x][0]
                btt.addEventListener("click", removeMember, false);
            document.getElementById(cell2.id).appendChild(btt)

            var option=document.createElement('option')
                option.text=arr[x][0]
                option.value=arr[x][0]
                option.setAttribute('selected', 'selected')

            slct.add(option)
        }
        slct.options.selected=true
    }

    function removeMember() {
        console.log(this.id.substring(3))
        for(x=0;x<arr.length;x++)
        {
            if(this.id.substring(3)==arr[x][0])
                arr.splice(x,1)
        }

        displayMembers()
    }

    function submitArray()
    {
        if(arr.length==0)
        {
            document.getElementById("empty").style.display="block";
            document.getElementById("dup").style.display="none"
        }
        else
        {
            console.log("not empty")
            console.log(arr)
            document.getElementById("empty").style.display="none";
            return arr;
        }
    }

    function deleteMember()
    {
        var arr_id=[]
        for(i=0;i<=document.getElementById("count").value-1;i++)
        {
            document.getElementById("d1-"+i).name="d1-"+document.getElementById("d1-"+i).value
        }
    }
    
    