%div
  = link_to 'New Item Request', new_item_request_path, class: 'btn btn-primary btn-sm mb-3'

%table.table.table-hover.table-striped
  %thead
    %tr
      %th.text-center Date
      %th.text-center ID
      %th.text-center Request Number
      %th.text-center Sato ID
      %th.text-center User ID
      %th.text-center Status
      %th.text-center Actions
  %tbody
    - @inventory_requests.each do |inventory_request|
      %tr
        %td.text-center= inventory_request.date_request&.strftime("%m/%d/%Y") || 'N/A'
        %td.text-center= inventory_request.id || 'N/A'
        %td.text-center= inventory_request.request_number || 'N/A'
        %td.text-center= inventory_request.branch_id || 'N/A'
        %td.text-center= inventory_request.user_id || 'N/A'
        %td.text-center= inventory_request.status || 'N/A'
        %td.text-center
          = link_to 'Details', details_inventory_request_path(inventory_request), class: 'btn btn-info btn-sm', style: 'padding: 4px 8px; font-size: 0.9rem;' if inventory_request.present?
          = link_to 'Delete', inventory_request_path(inventory_request), method: :delete, data: { confirm: 'Are you sure you want to delete this inventory request?' }, class: 'btn btn-danger btn-sm ml-2', style: 'padding: 4px 8px; font-size: 0.9rem;' if inventory_request.present?
