-# Filter Form
%div.mb-3
  = form_with url: administration_sub_categories_path, method: :get, local: true, class: "d-flex align-items-end w-100" do |f|
    .flex-grow-1.me-3
      %label{ for: "query", style: "font-weight: bold;" } Query
      = f.text_field :query, value: params[:query], class: "form-control w-100", placeholder: "Search Sub Category"
    .flex-grow-1.me-3
      %label{ for: "category_id", style: "font-weight: bold;" } Category
      = f.select :category_id, options_from_collection_for_select(@categories, :id, :name, params[:category_id]), { include_blank: "-- SELECT --" }, class: "form-control w-100"
    .flex-grow-1
      %label{ style: "visibility:hidden;" } Search
      = f.button type: "submit", class: "btn d-flex align-items-center justify-content-center w-100", style: "background:#19d3f7;height:38px;", title: "Search" do
        %i.fa.fa-search.me-2
        Search

%table.table.table-bordered.mt-3
  %thead
    %tr
      %th Category
      %th Sub Category
      %th Code
      %th.text-center Actions
  %tbody
    - if @items_category_list.present?
      - @items_category_list.each do |a|
        %tr{ data: { id: a.id } }
          %td= a.items_category&.name
          %td{ style: "text-transform: uppercase; word-wrap: break-word; white-space: normal; max-width: 300px;" }= a.name
          %td{ style: "text-transform: uppercase;" }= a.code
          %td.text-center
            %button.btn.btn-info.btn-sm.update-button{
              data: {
                id: a.id,
                code: a.code,
                name: a.name,
                category_id: a.category_id
              }
            } Update
            %button.btn.btn-sm.btn-danger.delete-button{
              data: { id: a.id }
            }
              %i.fa.fa-times
              Delete
    - else
      %tr
        %td{ colspan: "4" } No subcategories available.
